<div class="col-md-12">
  <br>
  <h1 class="text-center">Gerar Novo Lero-Lero</h1>

  <%= render 'form', text: @text %>

  <div class="text-center">
    <%= button_to 'Voltar', texts_path, { method: :get, class: "btn btn-primary" } %>
  </div>
</div>
