<!DOCTYPE html>
<html>
  <head>
    <title>Smart Lero-Lero</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='title' class='container-fluid text-center'>
      <h1>Gerador de Lero-Lero Inteligente</h1>
      <cite>Um gerador de lero-lero inteligente? Isso é SMART!</cite>
    </div>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
